<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="" method="post">
        <span>아이디</span>
        <input class="inputId data" id="" name="" type="text" /> <br />
        <span>이름</span>
        <input class="inputName data" id="" name="" type="text" />
        <br />
        <span>취미</span> <br />
        <label for="" type="checkbox"
          ><input
            class="play"
            id=""
            name="play"
            type="checkbox"
            onclick="getCheck()"
          />피아노</label
        ><br />
        <label for="" type="checkbox"
          ><input
            class="play"
            id=""
            name="play"
            type="checkbox"
            onclick="getCheck()"
          />게임</label
        ><br />
        <label for="" type="checkbox"
          ><input
            class="play"
            id=""
            name="play"
            type="checkbox"
            onclick="getCheck()"
          />테니스</label
        ><br />
        <label for="" type="checkbox"
          ><input
            class="play"
            id=""
            name="play"
            type="checkbox"
            onclick="getCheck()"
          />등산</label
        ><br />
        <span>선택한 취미 개수</span>
        <div id="countPlay"></div>
        <br />

        <span>전화번호</span>
        <input class="inputPhone data" id="" name="" type="text" /><br />

        <button class="submitBtn data" type="button">회원가입</button><br />
        <button class="cancel" type="reset">취소</button>
      </form>
    </div>

    <script>
      const inputId = document.querySelector(".inputId");
      const inputName = document.querySelector(".inputName");
      const inputPhone = document.querySelector(".inputPhone");
      const submitBtn = document.querySelector(".submitBtn");
      const data = document.querySelector(".data");
      const cancel = document.querySelector(".cancel");
      const countPlay = document.querySelector("#countPlay");
      // 체크박스
      function getCheck() {
        const query = 'input[name="play"]:checked';

        const selected = document.querySelectorAll(query);

        const selectedCount = selected.length;
        console.log(selectedCount);
        document.getElementById("countPlay").innerText = selectedCount;
      }
      console.log(countPlay.value);
      //아이디, 이름, 전화번호 유효성 검사
      submitBtn.addEventListener("click", function () {
        if (inputId.value == "") {
          alert("아이디를 입력하세요");
          return false;
        } else if (inputId.value == inputName.value) {
          alert("아이디와 이름이 일치하면 안됩니다.");
          return false;
        } else if (inputName.value == "") {
          alert("이름을 입력하세요");
          return false;
        } else if (inputPhone.value == "") {
          alert("전화번호를 입력하세요");
          inputPhone.focus();
          return false;
        } else if (countPlay.value < 2) {
          alert("취미는 2개 이상 선택하세요");
          return false;
        }

        location.href = "result.html";
      });
    </script>
  </body>
</html>
