<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/boardList.css">
    <script src="/script/boardList.js?version=1" defer> </script>
  </head>
  <body>
    <form action="" th:object="${cities}"></form>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">
            <span id="cityName" th:value="${cityName}" th:text="${cityName}"></span>
            <select id="selectCity" class="form-select selectLocation" aria-label="Default select example" >
              <option selected>도시를 선택하세요</option>
              <option  th:each="city : ${cities}" th:value="${city.name()}">
                <p  th:text="${city.cityName}"></p>
              </option>
            </select>

          </th>
          <th scope="col">

            <select id="selectDistrict" class="form-select selectLocation" aria-label="Default select example" >
              <option selected="selected">지역을 선택하세요</option>
              <option  th:each="districts : ${districts}" th:value="${districts.name()}">
                <p  th:text="${districts.title}"></p>
              </option>
            </select>

          </th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="boards : ${boards}">
          <th scope="row" th:text="${boards.id}">1</th>
          <td th:text="${boards.title}">Mark</td>
          <td th:text="${boards.writer}">Otto</td>
          <td th:text="${boards.createDate}">@mdo</td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:classappend="${1 == boards.getPageable.getPageNumber +1} ? 'disabled'">
            <a class="page-link" th:href="@{/boardList(page=${boards.getPageable.getPageNumber -1})}" href="#">Previous</a></li>
          
            <li class="page-item" th:classappend="${i == boards.getPageable.getPageNumber +1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage,endPage)}" >
            <a class="page-link" href="#" th:href="@{/boardList(page=${i - 1})}" th:text="${i}">1</a></li>
          
            <li class="page-item" th:classappend="${boards.getTotalPages == boards.getPageable.getPageNumber +1} ? 'disabled'">
            <a class="page-link" th:href="@{/boardList(page=${boards.getPageable.getPageNumber +1})}" href="#">Next</a></li> 
        </ul>
      </nav>
    </button>

  </body>
</html>
