* {
  margin: 0;
}
body {
  background-color: black;
}

header {
  display: flex;
  border: 1px solid yellow;
  height: 200px;
}

.title {
  color: gold;
}

main {
  display: flex;
  border: 1px solid yellow;
  height: 400px;
}
.moveBtn {
  color: gold;
  cursor: pointer;
}

footer {
  display: flex;
  border: 1px solid yellow;
  height: 200px;
}
