<!DOCTYPE html>
<html
  th:replace="~{common/layout :: layout(~{::title},~{::section})}"
  xmlns:th="http://www.thymleaf.org"
>
  <head>
    <title>로그인페이지</title>
  </head>
  <body>
    <section>
      <div class="inputBox">
        <form action="/member/login" method="post">
          <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <input
              name="userId"
              type="text"
              class="form-control"
              placeholder="userId"
              aria-label="userId"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <input
              name="password"
              type="text"
              class="form-control"
              placeholder="password"
              aria-label="password"
              aria-describedby="basic-addon1"
            />
          </div>
          <button type="submit" class="btn btn-primary">로그인하기</button>
          <br />
          <button id="toSignUpForm" type="button" class="btn btn-primary">
            회원가입하기
          </button>
        </form>
      </div>
    </section>
  </body>
</html>
