<!DOCTYPE html>
<html
  th:replace="~{common/layout :: layout(~{::title},~{::section})}"
  xmlns:th="http://www.thymleaf.org"
>
  <head>
    <title>Document</title>
  </head>
  <body>
    <section>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">userId</th>
            <th scope="col">userNickName</th>
            <th scope="col">signUpDate</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="memberList : ${memberList}">
            <th scope="row" th:text="${memberList.getMemberId}">1</th>
            <td th:text="${memberList.getUserId}">Mark</td>
            <td th:text="${memberList.getNickname}">Otto</td>
            <td th:text="${memberList.getSignUpDate}">@mdo</td>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
</html>
