<!DOCTYPE html>
<html
  th:replace="~{common/layout :: layout(~{::title},~{::section})}"
  xmlns:th="http://www.thymleaf.org"
>
  <head>
    <title>Title</title>
  </head>
  <body>
    <section>
      <form action="/member/signUp" method="post">
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">@</span>
          <input
            name="userId"
            type="text"
            class="form-control"
            placeholder="아이디를 입력하세요"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
        </div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">@</span>
          <input
            name="password"
            type="text"
            class="form-control"
            placeholder="비밀번호를 입력하세여"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
        </div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">@</span>
          <input
            name="nickname"
            type="text"
            class="form-control"
            placeholder="닉네임을 입력하세요"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
        </div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">@</span>
          <input
            name="email"
            type="text"
            class="form-control"
            placeholder="이메일을 입력하세요"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
        </div>

        <button type="submit">가입</button>
      </form>
    </section>
    <h1>회원가입페이지</h1>
  </body>
</html>
