<!DOCTYPE html>
<html
  th:replace="~{common/layout :: layout(~{::title},~{::section})}"
  xmlns:th="http://www.thymleaf.org"
>
  <head>
    <title>Title</title>
  </head>
  <body>
    <section>
      <form action="/member/signUp" method="post">
        <input name="userId" placeholder="아이디를 입력하세요" />
        <span value="${userId}" text="${userId}"></span>
        <input name="password" placeholder="비밀번호를 입력하세여" />
        <input name="nickname" placeholder="닉네임을 입력하세요" />
        <input name="email" placeholder="이메일을 입력하세요" />

        <button type="submit">가입</button>
      </form>
    </section>
    <h1>회원가입페이지</h1>
  </body>
</html>
