* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

/* ==============header==============- */
header {
  display: flex;
  border: 1px solid black;

  height: 30%;
  width: 100%;
}

/* ==============section==============- */
section {
  display: flex;
  border: 1px solid black;

  height: 50%;
  width: 100%;
}

/* ==============footer==============- */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;

  height: 20%;
  width: 100%;
}
